.ant-input-search {
  width: 300px;
}
.ant-modal-body {
  input {
    margin-bottom: 10px;
  }
}
.member_action {
  span {
    display: inline-block;
    margin: 0 5px;
    font-size: 18px;
    font-weight: 600;
  }
}
